<div class="container mt-4">
  <h1>What movie will you add?</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Submit chosen movie", class: "btn btn-primary" %>
  <% end %>
  <hr>
  <%= link_to 'Go back', list_path(params[:list_id]), class: "btn btn-primary" %>
</div>
